.center {
  margin: 2rem;
  margin-top: 3rem;
  height: 100vh;
}
.heading {
  font-weight: bolder !important;
  font-size: x-large !important;
  color: #666565 !important;
  padding-bottom: 2rem !important;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navitem {
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin-right: 0.5rem;
  font-weight: bolder;
  color: #666565;
  background-color: white;
  border-radius: 10px;
}
.navitem:hover {
  background-color: #47c8bf;
  color: white;
  cursor: pointer;
}
.sideChat {
  flex: 1;
  overflow-y: scroll;
  height: 74vh;
}
